asgiref==3.5.0
beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.11
colorama==0.4.4
commonmark==0.9.1
Django==4.0.2
gunicorn==20.1.0
idna==3.3
mutagen==1.45.1
pycryptodomex==3.14.0
Pygments==2.11.2
pytube==11.0.2
rapidfuzz==1.9.1
requests==2.27.1
rich==11.1.0
six==1.16.0
soupsieve==2.3.1
spotdl==3.9.2
spotipy==2.19.0
sqlparse==0.4.2
tzdata==2021.5
Unidecode==1.3.2
urllib3==1.26.8
websockets==10.1
whitenoise==6.0.0
yt-dlp==2022.1.21
ytmusicapi==0.20.0
